
:root {
  --width: 1000px;
  --height: 700px;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  width: var(--width);
  height: var(--height);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}